body {
  background: url(/concert3.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.box{
  /*background-color: #fff;*/
  /*opacity: 0.8;*/
  margin-top: 5%;
  width: 60%;
  float: right;
  margin-right: -10%;
  color: #fff;
}

.title{
  padding-top: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  color: #fff;
}

.title h2 {
  letter-spacing: 18px;
  padding-bottom: 20px;
}

.title a {
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 45px;
  text-align: center;
  margin-right: 20px;
}

.blah {
  color: #fff;
  border: 2px solid #fff;
  padding: 20px 45px;
  text-align: center;
  margin-right: 20px;

}

.title a:hover{
  background-color: #fff;
  color: #333;
}

button{
  background-color: #fff;
}

button:hover{
  background-color: #eee;
}
